<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.lee.dao.RoleMapper">


    <select id="getRoleByUserId" resultType="com.lee.common.entity.Role">
        select b.* from sys_user_role_relation a
        inner join sys_role b
        on a.role_id = b.uid
        where a.user_id = #{id};
    </select>

    <select id="getResourcesByRoleId" resultType="java.lang.String">
        select resource_id from sys_role_resource_relation where role_id = #{roleId};
    </select>

    <delete id="deleteRoleResourceByRoleId">
        delete from sys_role_resource_relation where role_id = #{roleId};
    </delete>

    <insert id="insertBatch">
        INSERT INTO sys_role_resource_relation (ROLE_ID, RESOURCE_ID)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.roleId}, #{item.resourceId})
        </foreach>
    </insert>

</mapper>