<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.lee.dao.SysDictTypeMapper">

    <select id="getListByDictTypeList" resultType="com.lee.common.entity.DictType">
        select a.oid, a.sort, a.is_publish, a.create_by_uid, a.update_by_uid, a.remark, b.uid, a.status, a.create_time, a.update_time, a.dict_type, b.dict_label, b.dict_value, b.dict_type_uid, b.list_class, b.is_default
        from t_sys_dict_type a
        left join t_sys_dict_data b
        on a.uid = b.dict_type_uid
        <where>
            <if test="sysList != null and sysList.size > 0">
                a.dict_type in
                <foreach item="item" collection="sysList" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by b.dict_value asc
    </select>
    <select id="getListByDictType" resultType="com.lee.common.entity.SysDictData">
        select * from t_sys_dict_data
        where dict_type_uid = (select uid from t_sys_dict_type where dict_type = #{dictType})
    </select>

    <update id="deleteBatch">
        UPDATE t_sys_dict_type SET status = 0
        <where>
            <if test="uids != null and uids.size > 0">
                uid in
                <foreach item="item" collection="uids" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>
</mapper>